body>hgroup {
    width: 90%;
    height: 2.5vh;
    display: flex;
    align-items: center;
    column-gap: 2%;
    background-image: linear-gradient(rgb(25, 10, 29), rgb(55, 40, 59));
    border-bottom: 1px solid rgb(55, 40, 59);

    p {
        color: rgb(220, 220, 220);
        letter-spacing: 0.1em;
        font-size: small;
        font-weight: bold;
        margin-left: 1vw;

        a {
            letter-spacing: 0;
        }
    }
}

body>aside {
    background-image: linear-gradient(rgb(40, 25, 44), rgb(25, 10, 29));
    border-left: 1px solid rgb(55, 40, 59);
    position: absolute;
    height: calc(100% - 5.5vh);
    top: 5.5vh;
    right: 0;
    width: calc(10% - 2vw);
    padding-right: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;

    a {
        width: 100%;
        background-image: linear-gradient(rgb(25, 10, 29), rgb(55, 40, 59));
        height: 4%;
        border: 1px solid rgb(55, 40, 59);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            margin-right: 3%;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

main {
    width: calc(90% - 2vw);
    height: calc(100% - 8vh - 2vw);
    display: flex;
    padding: 1vw;

    section {
        height: calc(100% - 2vw);
        padding: 1vw;

        h1 {
            letter-spacing: 0.25em;
            text-align: center;
        }

        &:nth-of-type(1) {
            width: 20%;
            border: 1px solid rgb(55, 40, 59);
            background-color: rgb(30, 15, 34);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            * {
                margin-top: 2%;
            }

            button {
                width: 100%;
                margin: 0;
                margin-top: 2%;
                padding: 0;
                background-color: transparent;
                border: 0px;
                font-size: 0.9em;
                font-family: serif;
                cursor: pointer;
                font-weight: bold;
                font-style: italic;
                text-align: left;
                position: relative;

                i {
                    position: absolute;
                    right: 0;
                    margin: 0;
                    padding: 0;
                }
            }

            div {
                display: none;
                flex-direction: column;
                padding-left: 1vw;
                padding-bottom: 2%;

                &.opened {
                    display: flex;
                }
            }
        }

        &:nth-of-type(2) {
            width: 80%;
            display: flex;
            align-items: center;
            flex-direction: column;

            h1 {
                border: 1px solid rgb(55, 40, 59);
                background-image: linear-gradient(rgb(25, 10, 29), rgb(55, 40, 59));
                border-radius: 15px;
                padding: 0.5vw;
                padding-left: 3vw;
                padding-right: 3vw;
                width: fit-content;
                height: fit-content;
            }

            i {
                margin-top: 2vw;
            }
        }
    }
}